*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: white;
    border-bottom:white ;
    color: black;
    
}
.bg-light{
    background-color: white !important;
}
li a{
    color: rgb(12, 11, 11);
    margin:1px;
    right: 0%;
    
}

.topnav a{
    border-bottom: 3px solid transparent;
}
.topnav a:hover {
    border-bottom: 3px solid #F0C929;
    color: antiquewhite;
  }
.nav-item.active{
    border-bottom: 3px solid black !important;
    color: #F0C929 !important;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #F0C929;
  }
.panel-footer{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    padding: 50px;
    font-size:medium;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.features img {
  width: 100px;
}
.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-large {
  width: 50px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.button-link{
  decoration:none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
div {
    
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1.3s;
    animation-name: animatebottom;
    animation-duration: 1.3s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
    