*{
    
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: #ffffff;
    border-bottom:#F4EEED ;
    
}
.bg-dark{
    background-color: #ffffff !important;
}
.nav-item .nav-link, .navbar-light .navbar-nav{
    color:black !important;
    margin:1px;
    
}
.topnav a{
    border-bottom: 3px solid transparent;
}
.topnav a:hover {
    border-bottom: 3px solid #F0C929;
  }
  
.topnav a.active {
    border-bottom: 3px solid #F0C929;
  }
  
.container1{
    margin-top:50px;
    width:70%;
}
.card .card-header{
border-radius: 20px;
margin:10px;
border:none;

}
.card-body{
    margin:20px;
}
textarea{
    background-color: #F4EEED;
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 20px;
    width:70%;
    height: 150px;
  }
input[type=email], input[type=text]{
    background-color: #F4EEED;
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 20px;
    width:70%;
  }
input:focus, textarea:focus{
    outline: none;
}
#contact-us{
    width:100%;
    padding:20px;
    background-color: #F0C929;
    
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
img{
    margin-top: 85px;
}
.yellow{
background-color: #F0C929;
}
.grey{
 background-color: #F4EEED;
}
.btn1{
    border-radius: 20px;
    color:#F0C929 !important;
    background-color: black;
    padding: 15px 32px;
    margin-top: 10px;
    margin-right: 60px;
}
.wrapper{
    background-color: #F0C929;
    padding:90px;
    margin-top:60px;
    height:280px;
}
.accordion {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1.3s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
.btn-link{
    color: black;
}
.btn-link:hover{
text-decoration: none;
}
.btn-link:focus{
    text-decoration: none;
}
footer{
    background-color: black;
    left: 0;
    bottom: 0;
    height: 100px;
    text-align:center;
    padding-top:15px;  
    
}
#foo1 {
    color:white;
}
#foo2{
   color: #F0C929 ;
}
html,body{
    width:100%;
    
}
html {
    scroll-behavior: smooth;
  }