
.bg-image {
    background-image:url("car\ subs.jpg");
    background-repeat: no-repeat;
    height: 800px;
    background-size:1400px 900px;
}
.bg-image:after {
    content: "";
    position: absolute;
    left: 0;
    background-size:1400px 900px;
    height: 800px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
    overflow:hidden;
    }
div.navbar-brand{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    float: left;

}
div.navbar-brand a:hover {
    border-bottom: 3px solid #F0C929;
    color: antiquewhite;
  }
div.navbar-brand a{
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    color: black;
    padding-left: 60px;
}
.navbar.transparent.navbar-inverse{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    float: right;
}


ul{
    display: inline;
    text-align:justify;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    
  }
  
    
li a{
    color: rgb(12, 11, 11);
    margin:1px;
    right: 0%;
    
}

.heading{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 60px;
    color:#F4EEED;

}
.topnav a:hover {
    border-bottom: 3px solid #F0C929;
    color: antiquewhite;
  }
  
.nav-item.active{
    border-bottom: 3px solid black !important;
    color: #F0C929 !important;
  }
.topnav a{
    border-bottom: 3px solid transparent;
}
.btn {
    background-color:black;
    border: none;
    color: #F0C929;
    padding: 12px 16px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;
  }
.column {
    float: left;
    width: 50%;
    padding: 30px;
   /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.btn:hover{
    background-color: white;
}
.col-sm-7.col-md-8{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    padding: 40px;
    font-size: medium;

}
.well{
    background-color: #F0C929;
    padding:10px;
    text-align: center;
    border-radius: 25px;
}
.col-sm-4.col-md-4{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding: 40px;
    font-size:22px;

}
img{
    border-radius: 50%;
}
.intro{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    padding: 20px;
    font-size: medium;
}

.well-lg{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    padding: 40px;
    font-size: 70px;
    border-radius: 0%;
}
.purchase-tab{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    padding: 30px;
    border-radius:25px;
}

.btn-purchase{
    background-color:black;
    border: none;
    color: #F0C929;
    padding: 12px 16px;
    font-size: 20px;
    font-weight:900px;
    cursor: pointer;
    border-radius: 24px;
  }
.h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}
.panel-footer{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    padding: 50px;
    font-size:medium;
}
.btn-purchase:hover{
    color: white;
}
div {
    
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1.3s;
    animation-name: animatebottom;
    animation-duration: 1.3s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }